<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Document</title>
</head>
<body>

     <% if(success.length>0){ %>
    <div class="absolute top-5 flex justify-center items-center rounded-md bg-blue-500 ">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= success %>
        </span>

    </div>
    <% } %>

  <div class="w-screen h-screen flex flex-col  flex-wrap">
    <div class="header flex justify-center items-center font-semibold text-2xl">
      <h1>Scatch</h1>
    </div>

    <div class="bottom flex flex-col flex-wrap  justify-evenly items-start gap-30">
      <div class="right flex flex-col gap-1.5">
        <a href="">All Products</a>
        <a href="">Create new Product</a>
      </div>

      <div class="left h-full flex flex-col gap-2 justify-center">
        <div class="flex flex-col gap-2">
        <h1 class="font-bold">Create New Product</h1>
        <h3 class="font-semibold">Product Details</h3>
        <h3 class="font-semibold">Product Image</h3>
        </div>

        <form action="/products/create" method="post" enctype="multipart/form-data" class="flex flex-col gap-3 w-[80%]">
          <div class="flex flex-col gap-3" >
            <input class="font-semibold" name="image" type="file">
            <input class="border p-1.5 rounded" name="name" type="text" placeholder="Product Name">
            <input class="border p-1.5 rounded" name="price" type="text" placeholder="Product Price">
            <input class="border p-1.5 rounded" name="discount" type="text" placeholder="Discount Price">
          </div>

          <div class="mt-[5%]">
            <h1>Panel Details</h1>
            <div class="flex flex-wrap gap-4 w-[70%]">
              <input type="text" class="border p-1.5 rounded" name="bgcolor" placeholder="Background Color">
              <input type="text" class="border p-1.5 rounded" name="panelcolor" placeholder="Panel Color">
              <input type="text" class="border p-1.5 rounded" name="textcolor" placeholder="Text Color">
              <input type="submit" value="Create New Product" class="bg-blue-400 p-2 border rounded w-[70%]">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>
</html>
